<!DOCTYPE html>
<html lang="en">
<head>
    <script src="ajaxCalls.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Connect - Responsive Admin Dashboard Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/DataTables/datatables.min.css" rel="stylesheet">


    <!-- Theme Styles -->
    <link href="../../assets/css/connect.min.css" rel="stylesheet">
    <link href="../../assets/css/dark_theme.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
    <!--https://proj.ruppin.ac.il/cgroup30/prod/swagger/index.html-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        const storedData = localStorage.getItem('user');
        const myData = JSON.parse(storedData);
        function init() {
            const storedData = localStorage.getItem('user');
            const myData = JSON.parse(storedData);
            str3 = "שלום ל" + myData.firstname + " " + myData.lastname;
            document.getElementById("namee").innerHTML = str3;
            const api = "https://proj.ruppin.ac.il/cgroup30/prod/api/Service?hairSalonId=" + myData.idd;
            console.log('dddd');
            ajaxCall("GET", api, "", succCB, errCB);

        }
        ////////////////////////////////////////רנדור לאחר טעינת הדף
        function succCB(data) {
            var res = $(innerH(data));
            $('#zero-conf').DataTable();

        }
        function innerH(data) {
            services = data;
            ser = [];
            
            console.log(services);
            str = "";
            str += `<thead>`;
            str += ` <th>מספר טיפול</th>`;
            str += ` <th>טיפול</th>`;
            str += ` <th>מחיר</th>`;
            str += ` <th>מחיר מינימלי</th>`;
            str += ` <th>טיפול 1</th>`;
            str += ` <th>טיפול 2</th>`;
            str += ` <th>טיפול 3</th>`;
            str += ` <th>הפסקה 1</th>`;
            str += ` <th>הפסקה 2</th>`;
            str += ` <th></th>`;
            str += `</thead>`;
            str += `<tbody>`;

            for (var i = 0; i < services.length; i++) {
                ser.push(services[i]);
            }

            for (var i = 0; i < services.length; i++) {
                num = services[i].treatmentNum;
                type = services[i].treatmentType;
                prc = services[i].price;
                Mprc = services[i].minPrice;
                tr1 = services[i].treatmentDuration1;
                tr2 = services[i].treatmentDuration2;
                tr3 = services[i].treatmentDuration3;
                br1 = services[i].break1;
                br2 = services[i].break2;
                str += `<tr>`;
                str += `<td>${services[i].treatmentNum}</td>`;
                str += `<td>${services[i].treatmentType}</td>`;
                str += `<td>${services[i].price}</td>`;
                str += `<td>${services[i].minPrice}</td>`;
                str += `<td>${services[i].treatmentDuration1}</td>`;
                str += `<td>${services[i].treatmentDuration2}</td>`;
                str += `<td>${services[i].treatmentDuration3}</td>`;
                str += `<td>${services[i].break1}</td>`;
                str += `<td>${services[i].break2}</td>`;
                str += `<td  ><button type="button" style="background:#2B598F"
                    class="btn btn-primary m-b-md"
                    onclick="modalUpdateProduct(${num},'${type}',${prc},${Mprc},${tr1},${tr2},${tr3},${br1},${br2})">עדכן</button></td>`;
                str += `</tr>`;
            }
                str += `</tbody>`;
            str += `<tfoot>`;
            str += ` <th>מספר טיפול</th>`;
            str += ` <th>טיפול</th>`;
            str += ` <th>מחיר</th>`;
            str += ` <th>מחיר מינימלי</th>`;
            str += ` <th>טיפול 1</th>`;
            str += ` <th>טיפול 2</th>`;
            str += ` <th>טיפול 3</th>`;
            str += ` <th>הפסקה 1</th>`;
            str += ` <th>הפסקה 2</th>`;
            str += ` <th></th>`;
            str += `</tfoot>`;

            document.getElementById("zero-conf").innerHTML = str;
            return true;
        }
        function errCB(err) {
            console.log(err)
        }
        //////////////////////////////////////////סיום טעינת דף


        //////////////////////////////////////הוספת טיפול
        function openModalAdd() {

            str = `<div id="myModal" class="modal-background">

                                        <!-- Modal content -->
                                        <div id="modalsP" class="modal-container">
                                            <span class="modal-close" onclick="closeModal()">&times;</span> <!-- Close button -->
                                            <div style="text-align:center "  class="logo-box" ><a style="font-size:40px; color:#2B598F" class="logo-text">פרטי טיפול חדש</a></div>
                                            <div>
                                            <form id="form" style="direction:rtl">


                                            <div class="form-group">
                                                    <label for="typeS">הכנס שם טיפול</label>
                                                    <input type="text" class="form-control" id="typeS"  placeholder="שם טיפול" title="הכנס שם טיפול" required>
                                                </div>
                                            <div class="form-group">
                                                <label for="price">מחיר</label>
                                                <input type="number" step="any" class="form-control" id="price"  placeholder="מחיר"  required>
                                            </div>
                                            <div class="form-group">
                                                <label for="minPrice">הכנס מחיר מינימלי</label>
                                                <input type="number" step="any" class="form-control" id="minPrice"  placeholder="מחיר"  required>
                                            </div>
                                            <div class="form-group">
                                                <label for="treat1">הכנס טיפול ראשון</label>
                                                <input type="number" step="any" class="form-control" id="treat1"  placeholder="הכנס טיפול ראשון"  required>
                                            </div>

                                            <div class="form-group">
                                                <label for="treat2">הכנס טיפול שני</label>
                                                <input type="number" step="any" class="form-control" id="treat2"  placeholder="טיפול שני"  required>
                                            </div>
                                            <div class="form-group">
                                                <label for="treat3">הכנס טיפול שלישי</label>
                                                <input type="number" step="any" class="form-control" id="treat3"  placeholder="טיפול שלישי"  required>
                                            </div>
                                             <div class="form-group">
                                                <label for="break1">הכנס הפסקה ראשונה</label>
                                                <input type="number" step="any" class="form-control" id="break1"  placeholder="הפסקה ראשונה"  required>
                                            </div>
                                             <div class="form-group">
                                                <label for="break2">הכנס הפסקה שנייה</label>
                                                <input type="number" step="any" class="form-control" id="break2"  placeholder="הפסקה שנייה"  required>
                                            </div>

                                            <div class="modal-buttons">
                                               <button class="btn btn-primary btn-block btn-submit" style="background: #2B598F" onclick="closeModal()">ביטול</button>
                                                        <button class="btn btn-primary btn-block btn-submit" style="background: #2B598F" type="submit" >אישור</button>
                                            </div>

                                        </form>
                                        </div>

                                        </div>

                                    </div>`;

            document.getElementById("mod").innerHTML = str;
            $("#form").submit(addS);

            openModal();
        }
        function addS() {
            addSS();
            return false;
        }
        function addSS() {
            const Stype = document.getElementById("typeS").value;
            const price = document.getElementById("price").value;
            const minPrice = document.getElementById("minPrice").value;
            const treat1 = document.getElementById("treat1").value
            const treat2 = document.getElementById("treat2").value;
            const treat3 = document.getElementById("treat3").value;
            const break1 = document.getElementById("break1").value;
            const break2 = document.getElementById("break2").value;



            const Service = {
                TreatmentType: Stype,
                Price: price,
                MinPrice: minPrice,
                TreatmentDuration1: treat1,
                TreatmentDuration2: treat2,
                TreatmentDuration3: treat3,
                Break1: break1,
                Break2: break2,
                Break3: 0,
                TreatmentNum: 0
            }
            ap = "https://proj.ruppin.ac.il/cgroup30/prod/api/Service?hairSalonId=" + myData.idd;
            ajaxCall("POST", ap, JSON.stringify(Service), ServicePostSCB, ServicePostECB);
        }
        function ServicePostSCB(data) {
            console.log(data);
            closeModal();
            location.reload();
        }
        function ServicePostECB(err) {
            console.log(err);
        }
        ///////////////////////////////////////////////סיום הוספת טיפול 
        function succUCB(data) {
            product = data;

        }

        /////////////////////////////////////עדכון טיפול
        //function modalUpdateProduct(id) {
        //    apU = "https://localhost:7276/api/Client/" + "0525530962";
        //    ajaxCall("GET", apU, "", succGetByUCB, errGetByUCB);
        //}
        function modalUpdateProduct(num, type,prc,Mprc,tr1,tr2,tr3,br1,br2) {

            
            str = `<div id="myModal" class="modal-background">

                                        <!-- Modal content -->
                                        <div id="modalsP" class="modal-container">
                                            <span class="modal-close" onclick="closeModal()">&times;</span> <!-- Close button -->
                                            <div style="text-align:center "  class="logo-box" ><a style="font-size:40px; color:#2B598F" class="logo-text">עדכון פרטי טיפול</a></div>  
                                         <form id="formU" style="direction:rtl">
                                            
                                                <label for="typeS">שם טיפול</label>
                                                <input type="text" class="form-control" id="typeSU" value=${type}   readonly>
                                            
                                        
                                            <label for="price">מספר טיפול</label>
                                            <input type="number"  class="form-control" id="numSU"  value=${num}  readonly>
                                        
                                        
                                            <label for="minPrice">מחיר</label>
                                            <input type="number" step="any" class="form-control" id="PrcU"  placeholder="מחיר" value=${prc} required>
                                       
                                        
                                            <label for="treat1">מחיר מינימלי</label>
                                            <input type="number" step="any" class="form-control" id="minPriceU"  placeholder="מחיר מינימלי" value=${Mprc} required>
                                        
                                        
                                            <label for="treat2">טיפול ראשון</label>
                                            <input type="number" step="any" class="form-control" id="treat1U"  placeholder="טיפול ראשון" value=${tr1} required>
                                        
                                        
                                            <label for="treat3">הכנס טיפול שני</label>
                                            <input type="number" step="any" class="form-control" id="treat2U"  placeholder="טיפול שני" value=${tr2} required>
                                        
                                         
                                            <label for="break1">טיפול שלישי</label>
                                            <input type="number" step="any" class="form-control" id="treat3U"  placeholder="טיפול שלישי" value=${tr3} required>
                                        
                                         
                                            <label for="break2">הפסקה ראשונה</label>
                                            <input type="number" step="any" class="form-control" id="break1U"  placeholder="הפסקה ראשונה" value=${br1} required>
                                        
                                        
                                            <label for="break2">הפסקה שנייה</label>
                                            <input type="number" step="any" class="form-control" id="break2U"  placeholder="הפסקה שנייה" value=${br2} required>
                                        
                                        
                                        <div class="modal-buttons">
                                           <button class="btn btn-primary btn-block btn-submit" style="background: #2B598F" onclick="closeModal()">ביטול</button>
                                                    <button class="btn btn-primary btn-block btn-submit" style="background: #2B598F" type="submit" >אישור</button>
                                        </div>
                                        </form>
                                  </div>
                               </div>
                         </div>`;

            document.getElementById("mod").innerHTML = str;
            $("#formU").submit(update);
            openModal();

        }
        function errGetByUCB(arr) {
            console.log(arr);
        }
        function update() {
            updateS();
            return false;
        }
        function updateS() {
            const Stype = document.getElementById("typeSU").value;
            const Snum = document.getElementById("numSU").value;
            const prc = document.getElementById("PrcU").value;
            const minPrice = document.getElementById("minPriceU").value;
            const treat1 = document.getElementById("treat1U").value
            const treat2 = document.getElementById("treat2U").value;
            const treat3 = document.getElementById("treat3U").value;
            const break1 = document.getElementById("break1U").value;
            const break2 = document.getElementById("break2U").value;



            const Service = {
                TreatmentType: Stype,
                Price: prc,
                MinPrice: minPrice,
                TreatmentDuration1: treat1,
                TreatmentDuration2: treat2,
                TreatmentDuration3: treat3,
                Break1: break1,
                Break2: break2,
                Break3: 0,
                TreatmentNum: Snum
            }
            uapi = "https://proj.ruppin.ac.il/cgroup30/prod/api/Service/UpdateService?hairSalonId=" + myData.idd;
            console.log("sssss");
            ajaxCall("PUT", uapi, JSON.stringify(Service), succuCB, erruCB);
            
        }
        function succuCB(data) {
            console.log(data);
            location.reload();
        }
        function erruCB(err) {
            console.log(err);

        }
        ////////////////////////////////////////סוף עדכון טיפול
        function openModal() {
            var modal = document.getElementById("myModal");
            st = document.getElementById("imageUpload");
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
        function closeModalU() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            location.reload();
        }
        function logout() {
            window.location.replace('sign-in.html');
            localStorage.clear();
        }
    </script>
</head>
<body onload="init()">

    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>
    <div class="connect-container align-content-stretch d-flex flex-wrap">
        <div class="page-sidebar">
            <div class="logo-box"><a href="#" style="color:#2B598F" onclick="logout()" class="logo-text">התנתק</a> </div>
            <div class="page-sidebar-inner slimscroll">
                <ul class="accordion-menu">

                    <li>
                        <a style="font-size:15px" href="calendar.html" class="active"><i class="material-icons-outlined">people_outline</i>תורים</a>
                    </li>
                    <br>


                    <li>
                        <a style="font-size:15px" href="Employees.html"><i class="material-icons">people_outline</i>עובדים</a>
                    </li>
                    <br>

                    <li>
                        <a style="font-size:15px" href="product.html"><i class="material-icons-outlined">shopping_cart</i>מוצרים</a>
                    </li>
                    <br>

                    <li>
                        <a style="font-size:15px" href="DyeHair.html"><i class="material-icons">format_color_fill</i>צבעי שיער</a>
                    </li>
                    <br>

                    <li>
                        <a style="font-size:15px" href="calendar.html"><i class="material-icons-outlined">volunteer_activism</i>טיפולי שיער</a>
                    </li>
                    <br>

                    <li>
                        <a href="#" style="font-size:20px"><i class="material-icons">text_format</i>פרטי מספרה<i class="material-icons has-sub-menu">add</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="Clients.html">לקוחות</a>
                            </li>
                            <li>
                                <a href="EmployeeVacations.html">חופשות עובדים</a>
                            </li>
                            <li>
                                <a href="barberWorkTime.html">זמני פעילות</a>
                            </li>
                           
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

        <div class="page-container">
            <div class="page-header">
                <div style="text-align:center" class="logo-box"><a style="font-size:80px; color:#2B598F" class="logo-text">טיפולי שיער</a></div>
                <div style="text-align:center" class="logo-box"><a style="font-size:40px;color:#2B598F" id="namee" class="logo-text"></a></div>
            </div>
            <div class="page-content">
                <div class="page-info">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">מספרה</li>
                            <li class="breadcrumb-item active" aria-current="page">טיפולי שיער</li>
                        </ol>
                    </nav>
                </div>
                <div class="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary m-b-md" id="addProduct" onclick="openModalAdd()" style="float: right; background: #2B598F ">הוספת טיפול חדש</button>
                                    <br>
                                    <br>
                                    <br>

                                    <table id="zero-conf" class="display" style="width:100%; direction:rtl">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="text-align:center">
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div id="mod" style="direction:rtl">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row">
                    <div class="col-md-12">
                        <span class="footer-text">2019 © stacks</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../assets/plugins/DataTables/datatables.min.js"></script>
    <script src="../../assets/js/connect.min.js"></script>
    <!--<script src="../../assets/js/pages/datatables.js"></script>-->
</body>
</html>